[v-cloak] {
  display: none;
}
body {
  background-image: url(WeatherPhotos/bg3.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1024px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: white;
  }

  td {
    border: none;
    border-bottom: 1px solid white;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "";
  }
  td:nth-of-type(2):before {
    content: "Temperature:";
  }
  td:nth-of-type(3):before {
    content: "Description:";
  }
  td:nth-of-type(4):before {
    content: "Pressure:";
  }
  td:nth-of-type(5):before {
    content: "Humidity:";
  }
}

.loader {
  box-sizing: border-box;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: hsl(
    200,
    calc(var(--saturation) * 1%),
    calc(var(--lightness) * 1%)
  );
}
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

svg {
  display: none;
  width: 95vmin;
}
.moon__cloud,
.sun__cloud {
  fill: #00f;
  display: none;
}
.cloud--static {
  fill: hsl(0, 0%, calc(var(--lightness) * 1%));
}
.cloud-path {
  fill: #bfbfbf;
}
.moon {
  fill: hsl(0, 0%, calc(var(--lightness) * 1%));
}
.stars-path {
  fill: #d2ccac;
}
.sun,
.sun__ray {
  fill: hsl(50, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%));
}
